<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Managment System</title>
    <!-- Bootstrap cnd link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <nav class="d-flex justify-content-between px-5 pt-3">
        <div class="d-flex gap-5" >
            <p class="text-light">User Managment System</p>
            <a href="/" class="text-light text-decoration-none">Home</a>
        </div>
        <div>
            <form class="search--div" method="post" action="/search">
                <input type="text" name="user" id="" placeholder="Search by first name">
                <button><i class="bi bi-search"></i></button>
            </form>
            
        </div>
    </nav>
    <main class="px-5 py-3">
        <div class="d-flex justify-content-between">
            <h1>Users</h1>
            <button class="newUser--btn"><a href="/newUser">Add new user</a></button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>View More</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user){ %>
                    <tr>
                        <td><%- user.firstName %></td>
                        <td><%- user.lastName %></td>
                        <td><%- user.email %></td>
                        <td><%- user.phone %></td>
                        <td class="view"><a href="./viewUser/<%- user._id %>">
                            View <i class="bi bi-eye"></i></a> 
                        </td>
                        <td class="edit"><a href="./editUser/<%- user._id %>">Edit <i class="bi bi-pencil-square"></i></a> </td>
                        <td class="delete">
                            <form action="deteteUser/<%- user._id %>?_method=DELETE" 
                                method="POST">
                                <button type="submit" class="btn">
                                    Delete <i class="bi bi-x-circle"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    
                    
                  <% }); %>
                
            </tbody>
        </table>
        
    </main>
</body>
</html>